<a href="https://colab.research.google.com/github/xainse/ml-internship/blob/main/Onix_Internship%2C_ML_Lesson_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
from pandas.core.accessor import DirNamesMixin
import pandas as pd 
import numpy as np
import os
from google.colab import drive

drive.mount('/content/gdrive')

dir_name = '/content/gdrive/MyDrive/2022.01. ML Learning - Onix Internship (Serhii Kholin)/Lesson_008/'

#fname = os.listdir(dir_name)
#print(fname)

# завантажити данні в DataFrame із csv файлу
df = pd.read_csv(dir_name + 'dataset.csv')
df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
# 2. Виводити задану кількість рядків, що йдуть підряд
index = 7
count = 7
df[index:(index+count)]

    Rank                         Name  ... Other_Sales  Global_Sales
7      8                     Wii Play  ...        2.85         29.02
8      9    New Super Mario Bros. Wii  ...        2.26         28.62
9     10                    Duck Hunt  ...        0.47         28.31
10    11                   Nintendogs  ...        2.75         24.76
11    12                Mario Kart DS  ...        1.92         23.42
12    13  Pokemon Gold/Pokemon Silver  ...        0.71         23.10
13    14                      Wii Fit  ...        2.15         22.72

[7 rows x 11 columns]

In [ ]:
#3. Знайти всі унікальні жанри і розбити по окремим дата фреймам. 
genres = df.iloc[:,4]
uniq_genres = genres.unique()

df_genres = []

for g in uniq_genres:
  df_genres.append(df.loc[df['Genre'].isin([g])])

        Rank                           Name  ... Other_Sales  Global_Sales
0          1                     Wii Sports  ...        8.46         82.74
3          4              Wii Sports Resort  ...        2.96         33.00
13        14                        Wii Fit  ...        2.15         22.72
14        15                   Wii Fit Plus  ...        1.79         22.00
77        78                        FIFA 16  ...        1.26          8.49
...      ...                            ...  ...         ...           ...
16576  16579              Rugby Challenge 3  ...        0.00          0.01
16578  16581  Outdoors Unleashed: Africa 3D  ...        0.00          0.01
16579  16582              PGA European Tour  ...        0.00          0.01
16581  16584                      Fit & Fun  ...        0.00          0.01
16587  16590       Mezase!! Tsuri Master DS  ...        0.00          0.01

[2346 rows x 11 columns]

In [92]:
# for g in df_genres:
i = 0
filename = ''
drive.mount('/content/gdrive') 
for g in df_genres:
  df_genres[i] = g.sort_values('Year', axis=0, ascending=True)  # 4. Упорядкувати рядки відсотрувавши по Year
  df_genres[i] = df_genres[i].reset_index(drop=True) # 5. Зробити переіндексіцію
  # 6. Зберегти датафрейми пожанрово в файли в гугл драйв
  filename = df_genres[i]['Genre'][0] + '.csv'
  print(filename)
  df_genres[i].to_csv(dir_name+filename, mode='w+')
  
  i+=1

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Strategy.csv
Platform.csv
Racing.csv
Role-Playing.csv
Puzzle.csv
Misc.csv
Shooter.csv
Simulation.csv
Action.csv
Fighting.csv
Adventure.csv
Strategy.csv

In [ ]:
+